doctype 5
html(lang="en")

    head
        title LiveWall
        style
            body{ background-color:#80B6E5; text-align:center; }
        script(src='/js/jquery-1.7.2.min.js')
        script(src='/socket.io/socket.io.js')
        
        //colour picker
        link(rel='stylesheet', media='screen', type='text/css', href='css/colorpicker.css')
        script(src='/js/colorpicker.js')
        
        //live script
        script(src='/js/livewall.js')
        script(type='text/javascript')
            $(function() { canvas_init(); $('#colorpickerHolder').ColorPicker({flat: false, color: '000000', onChange: changeColour});});
        
    body
        #container(width="#{canvas_width}")
        
            h1 LiveWall
            
            #topdiv
                input#nametag(style="float:left", size='10')
                input#colorpickerHolder(style="float:right", size='2', readonly='true')
        
            #canvas_container
                canvas#main_canvas(width="#{canvas_width}", height="#{canvas_height}") Your browser does not support the canvas tag.
            
            
            #chat_container
                textarea#chatbox(style="width:#{canvas_width}px", rows="5", readonly="readonly") <server> Welcome to LiveWall!
            #chat_submit_container
                input#chatmsg(style="width:#{canvas_width*0.9}px")
                input#chatsubmit(style="width:#{canvas_width*0.1}px", type="submit", value="Send", onclick="chatBoxSubmit()") 
                
            - if (typeof old_wall_links !== "undefined")
                #old_walls
            
                    each wall_link in old_wall_links
                        li
                            a(href="#{wall_link.href}") #{wall_link.title}
            
            
            p 
                small Please note that the canvas resets every hour at 30 minutes past the hour. (Don't worry, your picture will be saved!)
            p
                small
                    a(href="https://github.com/andrew-smith/LiveWall", target="_blank") View the source code at github!
                    
                
